
/*
Set default parameters
*/
params {
    help = false
    fastq_folder = false
    genome_folder = false
    genome_json = false
    processor = false
    target_regions = false

}

process {

    // resources for default process execution
    memory='32 GB'
    cpus='8'
}

profiles {

    test {
        includeConfig 'conf/test.conf'
    }
    standard {
        docker.enabled = true
        includeConfig 'conf/docker.conf'
    }
    singularity {
        apptainer.enabled = true
        apptainer.autoMounts = true
        includeConfig 'conf/singularity.conf'
        includeConfig 'conf/resource.conf'
    }
    docker {
        docker.enabled = true
        includeConfig 'conf/docker.conf'
        includeConfig 'conf/resource.conf'
    }
}

trace {
    fields = 'task_id, name, status, hash, exit, module, submit, start, complete, duration, realtime, %cpu, rss, vmem, peak_rss, peak_vmem'
}
